# Evolution API
EVOLUTION_API_URL=http://seu-servidor-evolution:8080/instance/chat
EVOLUTION_API_KEY=429683C4C977415CAAFCCE10F7D57E11


# Webhook Server
PORT=3000
HOST=0.0.0.0
FLASK_DEBUG=0
# Setar como 1 se quiser logar o payload completo (cuidado com segurança)
WEBHOOK_DUMP=0

# Configuração de Migração (0 = SQLite/Threads, 1 = Postgres/Redis)
USE_REDIS_QUEUE=1
USE_POSTGRES=1

# PostgreSQL
POSTGRES_HOST=10.0.4.119
POSTGRES_PORT=5432
POSTGRES_DB=agente_whatsapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=gCDqXp7tT6yWcVlVm5csuXHW

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
